.circles div{
    border-radius: 50%;
    background-color: #bc3a801a;
    z-index: -1;
    position: absolute;
    opacity: 0.3rem;
}

.circle1{
    width: 50rem;
    height: 50rem;
}

.circle1{
    width: 43.75rem;
    height: 43.75rem;
}
.circle1{
    width: 25rem;
    height: 25rem;
}