@media (max-width: 480px) {

    * {
        font-family: 'Poppins', sans-serif;
    }
    
    h1 {
        font-size: 3rem;
        font-weight: 300;
        margin-left: 1.3rem;
        margin-top: 2rem; 
        inline-size: 14rem;
        margin-bottom: 0.1rem;  
    }
    
    h3 {
        margin-left: 1.3rem;
        font-weight: 300;
        inline-size: 18rem;
        overflow-wrap: break-word;
        margin-top: 0.1rem
    }
    
    .join-now {
        padding: 0.4rem 1rem;
        border-radius: 0.4rem;
        text-decoration: none;
        color: white;
        background-color: #2b3079;
        margin-left: 1.3rem;
    }

    .circle1 {
        border-radius: 50%;
        z-index: 1;
        position: relative;
        opacity: 1;
        width: 5.5rem;
        height: 5.5rem;
        background-color: #422caf1a;
        margin-left: 6rem;
       
    }

    .circle2 {
        border-radius: 50%;
        z-index: 1;
        position: relative;
        opacity: 1;
        width: 5.5rem;
        height: 5.5rem;
        background-color: rgb(74, 39, 85);
        float: inline-start;
        background-position: top;
        margin-top: 1rem;
        margin-left: 0.8rem;
    }

    .circle3 {
        z-index: 1;
        position: relative;
        opacity: 1;
        width: 9rem;
        height: 9rem;
        background-color: #422caf1a;
        clip-path: circle(50% at  bottom right);
        float: right;
        margin-left: 1rem;
        margin-top: 0px;
    }

}
    
